<section>
    <div class="room">
         {{#each lists}}
        <div class="roomPicture">
           
           
            <div class="roomPicture">
                <img class="room_img" src="/uploads/{{profile_pic}}" alt="Rooms">
                <div class="room_des1">{{title }}</div>
                <div class="room_des2">{{description}}</div>
                <div class="room_des2">{{location}}</div>
                <div class="room_des3"><span class="room_price">$ {{price}}</span>/night</div>
                {{#if ../user}}

                {{#if ../user.admin}}
                <ul><a class="room_edit" href="/edit/{{_id}}">Edit</a></ul>
                <ul><a class="room_back" href="/admin">Back to Administrator Page</a></ul>
                {{else}}
                <ul>
                    <form method="GET" action="/booking/{{_id}}"><input type="submit" value="Book a room">
                    </form>
                </ul>
                <br>
                {{/if}}
                {{else}}
                <div><a class="room_edit" href="/login">Please log in</a></div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</section>